priority -50

extends tex
extends markdown

snippet py
\`\`\`python
$0
\`\`\`
endsnippet

snippet sh
\`\`\`sh
$0
\`\`\`
endsnippet

snippet bash
\`\`\`bash
$0
\`\`\`
endsnippet

snippet zsh
\`\`\`zsh
$0
\`\`\`
endsnippet
# vim:ft=snippets:
